<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="content border p-5">
      <div id="clearance" class="sign-in">
        <h2><%= t(".title") %></h2>

        <%= render partial: '/sessions/form' %>

      </div>
    </div>
    </div>
    <div class="col"></div>
  </div>
</div>
