<h1>user/<%= @repo.name %></h1>
<p> Description </p>
<%= @repo.description %>


<p> Resource </p>
<%= @repo.resource %>

<div class="repo-content-list">
  <ul class="list-group">
    <% @repo.contents.each do |file| %>
      <li class="list-group-item">
        <%= link_to file.name, repository_path(@repo) %>
      </li>
    <% end %>
  </ul>
</div>
