<!-- Do not allow users to follow themself -->
<%  unless is_current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <small> You are following <%= @user.username %></small>
    <%= render partial: '/users/unfollow', locals: { current_relationship: find_current_user_relationship_to(@user)} %>
  <% else %>
    <%= render partial: '/users/follow' %>
  <% end %>
  </div>
<% end %>

