<section name="hero" class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <!-- Image -->
      </div>

      <div class="col-12 col-md-7 col-lg-6 order-md-1" >
        <!-- Heading -->
        <h1 class="display-3 text-center text-md-start">
          Welcome to <span class="text-primary">Amplicon</span>. <br>
        </h1>
        <h2 class="display-4 text-center text-md-start">
          Bioengineering <span class="text-primary">evolved</span>.
        </h2>

        <!-- Text -->
        <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
        Host biochemistry protocols and components. Discover new tools and techniques. Meet skilled engineering and research collaborators.
        </p>

        <!-- Buttons -->
        <div class="text-center text-md-start">
          <%= link_to "Get Started", sign_up_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div> 
  </div> 
</section>

<section name="features" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <!-- Heading -->
        <h3>
          Connect with a passionate community
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          Host your biochemical protocols publicly for the scientific community and beyond.
        </p>

      </div>
      <div class="col-12 col-md-4">
        <!-- Icon -->

        <!-- Heading -->
        <h3>
          Measure your impact
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          Follow other researchers, practitioners and hobbyists while gaining insight into who likes and uses your protocols.
        </p>
      </div>

      <div class="col-12 col-md-4">
        <!-- Heading -->
        <h3>
          Discover new efficient protocols
        </h3>

        <!-- Text -->
        <p class="text-muted mb-0">
          Stay up to date with latest techniques in biochemical and genetic engineering.
        </p>
      </div>
    </div> 
  </div> 
</section>
