<div id='favorite_button' >
  <div class="input-group">
    <% if has_favorited?(current_user, protocol) %>
    <%= button_to favorite_protocol_path(protocol, action_type: "unfavorite"), method: :put, class: "btn btn-dark" do %>
     Unfavorite
    <% end %>
  <% else %>
    <%= button_to favorite_protocol_path(protocol, action_type: "favorite"), method: :put, class: "btn btn-outline-secondary" do %>
     Favorite
    <% end %>
  <% end %>
  </div>

  <% if local_assigns.fetch(:expanded_view, false) %>
    <div class="row">
      <small>
        <%= pluralize(protocol.favorited_by.count, 'user') %> favorited this protocol
      </small>

      <div>
      <%= render partial: "shared/user_avatar_collection", locals: { users: protocol.favorited_by } %>
      </div>
    </div>
  <% end %>
</div>
