<div id='favorite_button' >
  <div class="input-group">
    <% if has_favorited?(current_user, protocol) %>
    <%= button_to favorite_protocol_path(protocol, action_type: "unfavorite"), method: :put, class: "btn btn-dark" do %>
     Unfavorite
    <% end %>
  <% else %>
    <%= button_to favorite_protocol_path(protocol, action_type: "favorite"), method: :put, class: "btn btn-outline-secondary" do %>
     Favorite
    <% end %>
  <% end %>
  </div>

  <% if include_count %>
    <small>
      <%= pluralize(protocol.favorited_by.count, 'user') %> favorited this protocol
    </small>
  <% end %>
</div>
