<div id='favorite_button' class="input-group">
  <% if has_favorited?(current_user, protocol) %>
    <%= button_to favorite_protocol_path(protocol, action_type: "unfavorite"), method: :put, class: "btn btn-dark" do %>
     <span class="badge bg-dark"><%= protocol.favorited_by.count %></span> Unfavorite
    <% end %>
  <% else %>
    <%= button_to favorite_protocol_path(protocol, action_type: "favorite"), method: :put, class: "btn btn-outline-secondary" do %>
     <span class="badge bg-dark"><%= protocol.favorited_by.count %></span> Favorite
    <% end %>
  <% end %>
</div>
