<h1>Edit protocol</h1>
<%= form_with(model: @proto) do |form| %>

  <%= render partial: "/protocols/form", object: form, locals: { private: @proto.private } %>

  <div class="submit-field">
    <%= form.submit "Update", class: "btn btn-primary"%>
  </div>
<% end %>
