<h1>Explore</h1>
<div class="content-feed">
  <% if @proto.empty? %>
    <p> Nothing new yet! </p>
  <% else %>
  <% @proto.each do |r| %>
    <%= link_to r.name, r %>
  <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Create Protocol", new_protocol_path %>
</div>
