<h1>Explore</h1>
<p>See interesting protocols available!</p>
<div class="content-feed">
  <% if @protos.empty? %>
    <p> Nothing new yet! </p>
  <% else %>
    <% @protos.each do |proto| %>
      <%= render partial: "/protocols/card", locals: { protocol: proto } %>
    <% end %>
  <% end %>
</div>
