<h1>Create new protocol</h1>
<%= form_with(model: @proto) do |form| %>

  <%= render "/protocols/form", object: form %>

  <div class="submit-field">
    <%= form.submit "Create", class: "btn btn-primary"%>
  </div>
<% end %>
